.banner-servico {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Inter', sans-serif;
    margin-top: 50px;
}

.banner-servico img{
    border-radius: 15px;
    width: 33%;
}

.banner-servico article{
    width: 330px;
}


.banner-servico article h1{
    font-size: 34px;
    margin: 0;
}

.banner-servico-servico article p{
    width: 275px;
    font-size: 22px;
}
.banner-servico article a{
    color: #00A1FC;
}