main .depoimentos{
    margin-top: 45px;
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    color: black;
}

main .depoimentos .depoimento{
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

i img{
    width: 25px;
    height: 25px;
    cursor: pointer;
}