.solicitar-servico {
  display: flex;
  max-width: 1280px;
  flex-direction: column;
  margin: 22px 0 0 19px;
  color-scheme: light dark;
}

.content-wrapper {
  width: 100%;
  display: flex;
}

.image-column {
  width: 68%;
}

.carro {
  height: 449px;
  width: 698px;
}

.service-title {
  color: #000;
  font: 400 24px Inter, sans-serif;
}

.form-column {
  width: 32%;
  margin-left: 20px;
}

.service-form {
  display: flex;
  margin-top: 61px;
  flex-direction: column;
  color: #000;
  text-align: center;
  font: 400 20px Jost, sans-serif;
}

.form-input {
  border-radius: 6px;
  background-color: #d9d9d9;
  margin-top: 9px;
  color: rgba(0, 0, 0, 0.25);
  padding: 5px 10px ;
}

.form-select {
  border-radius: 6px;
  background-color: #d9d9d9;
  margin-top: 22px;
  padding: 5px 10px;
}

.form-textarea {
  border-radius: 6px;
  background-color: #d9d9d9;
  margin-top: 8px;
  padding: 11px 9px 142px;
}

.feedback-section {
  align-self: end;
  margin-top: 44px;
  width: 100%;
  max-width: 1235px;
  display: flex;
}

.feedback-text {
  width: 64%;
  color: #000;
  font: 700 32px Inter, sans-serif;
}

.submit-button {
  width: 36%;
  margin-left: 20px;
}

.submit {
  border-radius: 8px;
  background-color: #00a1fc;
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 11px 70px;
  font: 700 16px Inter, sans-serif;
  border: none;
  cursor: pointer;
}
