main .sectionIntegrantes{
    display: flex;
    justify-content: space-around;
    font-family: 'Inter', sans-serif;
    margin-top: 100px;
}

main .sectionIntegrantes .colaborador{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .sectionIntegrantes .colaborador img{
    cursor: pointer;
}