.gerar-diagnostico{
    margin-bottom: 15px;
    font-family: 'Inter', sans-serif;
    flex-direction: column;
}

.gerar-diagnostico h1{
    color: #000;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.gerar-diagnostico div img{
    width: 430px;
    height: 429px;
}

.gerar-diagnostico div p{
    color: #000;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}

.gerar-diagnostico .caixa-diagnostico{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gerar-diagnostico .caixa-diagnostico textarea{
    width: 715px;
    height: 447px;
    background-color: white;
    border-radius: 15px;
    flex-shrink: 0;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    resize: none;
    position: relative;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Margem centralizada */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largura do modal */
    max-height: 80%; /* Altura máxima do modal */
    overflow-y: auto; /* Permite rolagem vertical */
    border-radius: 10px; /* Bordas arredondadas */
}
.modal-content h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.modal-content p {
    font-size: 1em;
    line-height: 1.6;
}

.btn-close-modal {
    margin-top: 20px;
    padding: 10px 20px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
