

@media (max-width: 425px) {
    footer .conteudo-footer {
        width: 90%;
    }
    
    header nav .logo {
        display: none;
    }
    header nav ul {
        display: none!important;
    }
    
}