
@media (max-width: 425px) {
    main .beneficios .beneficio img {
        width: 80px;
    }
    main .gerar-diagnostico div p {
        font-size: 15px;
    }
    main .gerar-diagnostico .caixa-diagnostico textarea {
        width: 183px;
        height: 300px;
    }
    main .servicos .caixa-servico {
        
        justify-content: center;
    }
    main .depoimentos { 
        overflow-x: auto;
    }
    .banner .texto-banner h1{
        font-size: 17px;
    }
}