.beneficios{
    display: flex;
    justify-content: center;
    
}

.beneficios .beneficio{
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    padding: 15px;
    gap: 5px;
}