main .servicos{
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    align-items: center;
    
}

main .servicos .caixa-servico{
    display: flex;
    flex-wrap: wrap;
    max-width: 1240px;
    justify-content: space-between;
}
main .servicos .caixa-servico .servico{
    margin-bottom: 50px;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s; /* Adiciona transição para o efeito de escala */
}

main .servicos .caixa-servico .servico:hover {
    transform: scale(1.1); /* Aumenta a escala em 10% ao passar o mouse */
}
main .servicos .caixa-servico .servico p{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 800;
    color: #fff;
    white-space: nowrap; /* Evita que o texto seja quebrado */
}
main .servicos .caixa-servico .servico img{
    border-radius: 10px;
}




main .servicos button{
    background-color: transparent;
    font-family: 'Inter', sans-serif;
    width: 95px;
    /* padding: 0px; */
    height: 35px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #354DB5;
    align-items: center;
    color: #354DB5;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

main .servicos button:hover{
    background-color: #354DB5;
    color: #fff;
    font-weight: 700;
    border: 0;
}
